<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <script>
    var arr = [{
        'id': '1175310929766055936',
        'pid': '',
        'companyId': '1',
        'name': '总裁办',
        'code': 'ZCB',
        'managerId': null,
        'manager': '孙财',
        'introduce': '总裁办公室',
        'createTime': null
      }, {
        'id': '1175311213774962688',
        'pid': '',
        'companyId': '1',
        'name': '行政部',
        'code': 'XZB',
        'managerId': null,
        'manager': '罗晓晓',
        'introduce': '1111',
        'createTime': null
      }, {
        'id': '1175311267684352000',
        'pid': '',
        'companyId': '1',
        'name': '人事部',
        'code': 'RSB',
        'managerId': '1071632760222810112',
        'manager': '文吉星',
        'introduce': null,
        'createTime': null
      }, {
        'id': '1175311325720936448',
        'pid': '',
        'companyId': '1',
        'name': '财务部',
        'code': '',
        'managerId': null,
        'manager': null,
        'introduce': null,
        'createTime': null
      }, {
        'id': '1175311373083017216',
        'pid': '',
        'companyId': '1',
        'name': '技术部',
        'code': 'JSB',
        'managerId': null,
        'manager': null,
        'introduce': null,
        'createTime': null
      }, {
        'id': '1175311418004013056',
        'pid': '',
        'companyId': '1',
        'name': '运营部',
        'code': 'YYB',
        'managerId': null,
        'manager': null,
        'introduce': null,
        'createTime': null
      }, {
        'id': '1175311466846683136',
        'pid': '',
        'companyId': '1',
        'name': '市场部',
        'code': 'SCB',
        'managerId': '1063705989926227968',
        'manager': '武高丽',
        'introduce': null,
        'createTime': null
      }, {
        'id': '1235395178363559936',
        'pid': '1175311325720936448',
        'companyId': '1',
        'name': '财务核算部',
        'code': null,
        'managerId': null,
        'manager': null,
        'introduce': null,
        'createTime': null
      }, {
        'id': '1235398264104624128',
        'pid': '1175311325720936448',
        'companyId': '1',
        'name': '税务管理部',
        'code': null,
        'managerId': null,
        'manager': null,
        'introduce': null,
        'createTime': null
      }, {
        'id': '1235398536969265152',
        'pid': '1175311325720936448',
        'companyId': '1',
        'name': '薪资管理部',
        'code': null,
        'managerId': null,
        'manager': null,
        'introduce': null,
        'createTime': null
      }, {
        'id': '1235398608847052800',
        'pid': '1175311373083017216',
        'companyId': '1',
        'name': 'Java研发部',
        'code': null,
        'managerId': null,
        'manager': null,
        'introduce': null,
        'createTime': null
      }, {
        'id': '1235398661355544576',
        'pid': '1175311373083017216',
        'companyId': '1',
        'name': 'Python研发部',
        'code': null,
        'managerId': null,
        'manager': null,
        'introduce': null,
        'createTime': null
      }, {
        'id': '1235398708763762688',
        'pid': '1175311373083017216',
        'companyId': '1',
        'name': 'Php研发部',
        'code': null,
        'managerId': null,
        'manager': null,
        'introduce': null,
        'createTime': null
      }, {
        'id': '1235398917619130368',
        'pid': '1175311466846683136',
        'companyId': '1',
        'name': '北京事业部',
        'code': null,
        'managerId': null,
        'manager': null,
        'introduce': null,
        'createTime': null
      }, {
        'id': '1235399011458293760',
        'pid': '1175311466846683136',
        'companyId': '1',
        'name': '上海事业部',
        'code': null,
        'managerId': null,
        'manager': null,
        'introduce': null,
        'createTime': null
      }, {
        'id': '1387565770727034880',
        'pid': '1235395178363559936',
        'companyId': '1',
        'name': 'abc',
        'code': 'abc',
        'managerId': null,
        'manager': '孙财',
        'introduce': 'abc',
        'createTime': null
      }]

      function fn(array,pid){
        var arr = []
        array.forEach(item=>{
          if(item.pid === pid){
            var tempArr = fn(array,item.id)
            if(tempArr.length>0){
              item.children = tempArr
            }
            arr.push(item)
          }
        })
        return arr
      }

      console.log(fn(arr,''))
      // 数据的特点：数据包含所有每一级的数据
      // 思路：首先，只找到一级 然后找到一级之后，顺手就把一级这一项的children全部找出来
  </script>
</body>

</html>
